
.body {
    background-color: silver;
}

.main {
    background-color: white;
    width: 1000px;
    padding: 50px;
    display: flex;
    flex-direction: column;
   
}

.whole {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.text {
    color: hsl(300, 67%, 8%);
    font-size: 45px;
    margin-bottom: 10px;
}

.text2 {
    color: hsl(0, 0%, 0%);
}

.allstar {
    display: flex;
    flex-direction: column;
    align-content: left;
    margin-left: 150px;
    margin-top: 20px;
}

.starbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 50px 10px 25px;
    border-radius: 11px;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 15px
}

.starbox1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 50px 10px 25px;
    border-radius: 11px;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 15px;
    transform: translate3d(7.5%, 0, 0);
}

.starbox2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 50px 10px 25px;
    border-radius: 11px;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 15px;
    transform: translate3d(15%, 0, 0);
}

.star {
    margin: 0px 2px 2px 0px;
}

.rated {
    color: hsl(300, 66%, 12%);
}

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 50px 0px;
}

.scomment {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 66%, 12%);
    text-align: center;
    border-radius: 11px;
    margin-right: -40px;
    width: 26%;
    padding: 30px;
    margin-right: -40px;
}

.icomment {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 66%, 12%);
    text-align: center;
    border-radius: 11px;
    width: 26%;
    padding: 30px;
    transform: translate3d(0, 15px, 0);
    margin-left: -40px;
    margin-right: -40px;
}

.acomment {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 66%, 12%);
    text-align: center;
    border-radius: 11px;
    width: 26%;
    padding: 30px;
    transform: translate3d(0, 30px, 0);
    margin-left: -40px;
}

.sheader {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 5px;
    vertical-align: center;
}

.pics {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: center;
    align-items: left;
}

.pics img  {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name {
    display: inline-block;
}

.colton {
    margin-bottom: 0px;
}

.verified {
    margin-top: 0px;
    color: rgb(209, 17, 145);
}


